html {
    margin: 2rem;
}

body{
    background-color: aquamarine;
}

button {
    background-color: #04AA6D; /* Green */
    border: solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    grid-column: 2;
    grid-row: 3;
    height: 5rem;
    width: 17rem;
    margin-top: 2rem;
    
}

form {
    display:grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 40% 30%;
    justify-items: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

label {
    font-size: 24px;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    padding-top:2rem;
}

textarea {
    text-align: center;
    margin: 20px;
    grid-column: 2;
    grid-row: 2;
    padding: 10x;
    margin-top: 3rem;
    align-content: center;
    padding: 50px 0px;
    font-size: 24px;

}